services:
  web:
    extends:
      file: deployment/docker-compose.yml
      service: web

  worker:
    extends:
      file: deployment/docker-compose.yml
      service: worker

  postgres:
    extends:
      file: deployment/docker-compose.yml
      service: postgres

  redis:
    extends:
      file: deployment/docker-compose.yml
      service: redis

volumes:
  postgres-data:
